html, body {
	margin: 0 auto;
	overflow-x: hidden;
}

hr {
	margin-bottom: 20px;
}

p {
	display: inline;
}

.alignment {
	float: left;
	width: 400px;
	height: 70px;
	margin-top: 0 auto;
	background-color: #4aaaa5;
	box-sizing: border-box;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;
	text-align: center;
}

.contacthr {
	margin: 0 auto;
}

.contentwrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #4aaaa5;
}

.containerwidth {
	width: 960px;
}

section {
	box-sizing: border-box;
	width: 650px;
	border-color: #dddddd;
	background-color: #ffffff;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 30px;
	display: inline-block;
	float: left;
}

.headerfont {
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.otherfont {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	background-color: #ffffff;
	margin: 0 auto;
	min-width: 0px;
	width: 1250px;
	height: 70px;
	box-sizing: border-box;
}

img {
	padding-right: 15px;
	padding-left: 0px;
	padding-bottom: 10px;
}

nav {
	float: right;
	margin: 20px 10px;
	margin-right: 145px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

li {
	display: inline;
	padding-right: 15px;
	padding-left: 15px;
}

.line {
	border-right: 1px solid #666666
}


aside {
	background-color: #ffffff;
	width: 270px;
	text-align: center;
	box-sizing: content-box;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 40px;
	float: right;
	display: inline-block;
}

.gallery {
	float: left;
	margin: 5px;
}

.asidewidth {
	width: 960px;
}

input {
	width: 588px;
    height: 15px;
}

textarea {
	width: 588px;
}

.submit {
	width: 100px;
}

footer {
	background-color: #666666;
	clear: both;
	text-align: center;
	padding: 25px;
	font-size: 12px;
	width: 960px;
}

.pagewrap {
	width: 1000px;
	margin: 0 auto;
}


